html ,  body 
{
	background-color: black;
	margin:0;
	height:100%;
	color:white;
}
.container
{
	position:absolute;
	
	top:0px;
	transition: all 0.5s ease-out;
	height:100%;
	width:100%;
	z-index:2;
}
#content
{
	height:70%;
	background-color: red;
	z-index: 2;

}
#slider
{
	background-color: yellow;
	height:30%;
	transition:all 0.5s ease-out;
	
	top:0px;
	z-index:-1;
}
#back
{
	background-color: blue;
	z-index:1;
	height:1000px;

}