
html ,  body 
{
	background-color: black;
	margin:0;
	height:all;
	color:white;
}

.mynavbar a{
 position: relative;
 font-size: 125%;
  padding: 15px;
  padding-right: 30px;
  color: #e2cb10 !important;
  text-transform: uppercase;
    -webkit-transition: 0.3s all;
  transition: 0.3s all;

}



#cid
{
	position: fixed;
	top:0vh;
	
	
	
	transition: top 0.5s ease-out;
	height:100vh;
	width:100% ;
	z-index:1;
}
#content
{
	
    /*min-height: 500px; */
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
	height:70%;
	color:red;
	z-index: 2;

}
#slider
{
	background-color: black;
	
	height:30%;
	transition:all 0.5s ease-out;
	

	
}
#letsgo{
	margin-top: 5%;
text-align: center;
font-size: 32px;

}
#back
{
	background-color: blue;
	z-index:1;
	height:100px;

}
.bg-light
{
	background-color:transparent !important;
}
.navbar a
{
	
	transition:color 0.5s ease-out;
}