html ,  body 
{
	background-color: red;
	margin:0;
	height:100%;
	color:white;
}
.cont
{
	position:absolute;

	top:0px;
	
	
	transition: all 0.5s ease-out;
	height:100%;
	width:100% ;
	z-index:1;
}
#content
{
	background-image: url("http://s1.picswalls.com/wallpapers/2015/09/20/2015-wallpaper_111525594_269.jpg"); 
    /*min-height: 500px; */
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
	height:70%;
	color:red;
	z-index: 2;

}
#slider
{
	background-color: yellow;
	position: sticky;
	/*top:1000px;*/
	top:0px;
	height:30%;
	transition:all 0.5s ease-out;
	
	top:0px;
	
}
#back
{
		background-color: blue;
	z-index:1;
	height:100px;

}
.bg-light
{
	background-color:transparent !important;
}
.navbar a
{
	color:transparent !important;
	transition:all 0.5s ease-out;
}